body{
    /*background: #43cea2;  /* fallback for old browsers */
   /* background: -webkit-linear-gradient(to right, #d6c250, #c4d467);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #70d0dd, #4697a5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/4/49/MAPA_MUNDI_AZUL.png");
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    position: relative;
   /*background-image: ('Mapa-Mundi.jpg');*/
    transition: .3s ease all;
   &.oscuro{
    background-image:url("https://upload.wikimedia.org/wikipedia/commons/3/3f/MAPAMUNDI_NEGRO_VALLVE.png");
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    position: relative;
   /* background: #066144;  
    background: -webkit-linear-gradient(to right, #7e6f1c, #687520);  
    background: linear-gradient(to right, #1e6770, #14535e);*/
    
   }

}
.boton{
    background-color: rgb(71, 70, 100);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: rgb(255, 255, 255);
        top:0;
        left:0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow:0px 0px 2px 2px rgb(0, 0,.2);
    }
    &.active{
        background: orange;
        color:black;
        &::after{
            right: 0;
            left: unset;
        }
    }
    spam{
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: rgb(253, 253, 253);
  }
  }

p{
  color: rgb(253, 253, 253);
}

img {
  height: 200px;
  width: 200px;
}

.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: rgb(124, 155, 204);
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg);
  }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg);
  }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); 
  }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); 
  }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; 
  }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; 
  }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; 
  }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; 
  }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
  }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
  }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
  }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
  }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
  }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
  }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s;
  }
  
  @-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; }
  }
  
  @keyframes sk-circleFadeDelay {
    0%, 39%, 100% { opacity: 0; }
    40% { opacity: 1; } 
  }



  .ml3 {
    font-weight: 500;
    font-size: 1.1em;
  }

  figure .icono{
    position:absolute; 
    left:16%; 
    top:50%;
    font-size: 50px;
    color: rgb(253, 253, 253);
}
.tooltip{
    display: flex;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgb(0, 0, .20);
    width: 30em;
    height: 10.5em;
    z-index: 1000;
    opacity: 0;
    transition: .3s ease all;
    transform: translateY(10px);
    &::after{
        content: "";
        display: inline-block;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid white;
        position: absolute;
        bottom: -15px;
        left: calc(50% - 15px);
    }
    &.activo{
        opacity: 1;
        transform: translateY(0px);
    }
}
.tooltip .thumb{
    width:60%;
}
.tooltip .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px ;
    vertical-align: top;
}
.tooltip .info{
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tooltip .info .title{
    color: rgb(22, 78, 201);
    font-weight: 600;
    margin-bottom: 10px ;
}
.tooltip .info .texto{
    color: rgb(54, 63, 83);
    font-weight: 12px;
    margin-bottom: 20px ;
}

@media screen and (max-width: 768px){
    figcaption .tooltip{
        font-size: 12px;
    }
    figcaption .icono{
        top: 32px;
    }
    .tooltip{
        position: static;
        opacity: 1;
        width: 100%;
        transform: translate(0);
        &::after{
            content: "";
            display: none;
        }
}

